@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

/*all font style*/
body {
	width: 100%;
	background-color: #ffffff;
}

h1, h2, h3, h4, h5, a {
	font-family: 'Roboto', sans-serif, 'Helvetica', 'Myriad pro';
	text-decoration: none;
}

h1 {
	font-weight: 900;
	font-size: 3.75em;
	color: #2E3C45;
}

h2 {
	font-weight: 400;
	font-size: 2em;
}

h3 {
	font-weight: 700;
	font-size: 3em;
}

h4 {
	font-weight: 400;
	font-size: 2.50em;
}

h5 {
	font-weight: 300;
	font-size: 2em;
}

p{
	font-family: 'Open Sans', sans-serif, 'Helvetica', 'Myriad pro';
	font-weight: 300;
	font-size: 1.5em;
}

header a h1{
	font-size: 3em;
}

.logo {
	width: 25em;
	height: auto;
}

/* flex box */


/*header and nav-bar style */

.header {
	background-color: #ffffff;
	padding: 1.5em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	position: -webkit-sticky;
    position: sticky;
	top: 0;
	z-index: 1;
}

nav ul, .nav-social, .social-icons-container {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;	
	align-items: center;
}

header nav a {
	padding: 0 0.75em;
	color: #2E3C45;
	font-size: 1.25em;
}

.logo, nav, .social-icons-container {
	margin: 0 2em;
}

/*hero style */

.hero-flex-container {
	width: 100%;
	display: flex;
	justify-content:flex-end;
}

.hero {
	margin: 8em 20em 8em auto;
	padding: 20px;
	line-height: 4em;
}


#about, #contact, #projects, #skills {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 1%;
}

/* utility class */
.bg-blue {
	background-color: #0B1F52;
	color: #ffffff;
}

.bg-lightblue {
	background-color: #D8EBF0;
	color: #0B1F52;
}

.section-title {
	writing-mode:vertical-lr;
	transform: rotateZ(180deg);
	padding: 2%;
	color: #0B1F52;
}

.project-flex-container, .contact-flex-container, .skills-flex-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 2%;
}

.project-item1 {
	width: 98%;
	padding: 1%;
}

.project-item2, .project-item3, .project-item4, .project-item5 {
	width: 48%;
	padding: 1%;
}

.project-image { 
	width: 100%;
	
}

.contact-flex-container1 {
	width: 36%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	padding: 0 2%;
}

.contact-flex-container1 a {
	display: flex;
	align-items: center;
}

.contact-flex-container1 .social-icon {
	padding:8%;
	width: 10%;
	height: auto
}

.form-flex-container2 {
	width: 60%;;
	display: flex;
	margin: 0 auto;
}

.form-flex-container2-item1, .form-flex-container2-item2 {
	width: 40%;
	display: flex;
	align-content: center;
	flex-direction: column;
}


.form-flex-container2 input, textarea{
	width: 80%;
	margin: 6%;
	background: transparent;
	color: #ffffff;
	border: 0;
	border-bottom: thin solid #ffffff;
	padding: 2% 0;
}

.form-flex-container2 button {
	width: 80%;
	margin: 6%;
	border: thin solid #ffffff;
	padding: 2% 0;
}

.form-flex-container2 textarea {
	width: 80%;
	height: 60%;
}

::-webkit-input-placeholder {
	color: #ffffff;
}

::-moz-placeholder {
	color: #ffffff;
}

::-ms-input-placeholder {
	color: #ffffff;
}

#skills {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
	padding: 1%;
}

.skills-flex-item1 {
	width: 100%;
}

.skills-flex-item2, .skills-flex-item2 {
	width: 50%;
}
